<div class="columns">
  <div class="column is-4 is-offset-4">
    <div class="box">
    <a class="is-family-primary" href="/dashboard"> &larr; Back to dashboard</a>
      <div class="is-size-5 mt-4 mb-4">
        Edit Post
      </div>
  
      <form class="edit-post-form">
        <div class="field">
          <input class="label" name="post-title" type="text" value="{{post.title}}" />
        </div>
        <div class="field">
          <textarea class="textarea" name="post-text">{{post.post_text}}</textarea>
        </div>
        <div class="mb-4">
          Posted by you on {{format_date post.created_at}}
          |
          <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
        </div>
        <button class="button is-primary" type="submit">Save post</button>
        <button class="button is-danger delete-post-btn" type="button">Delete post</button>
      </form>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-4 is-offset-4">
    <div class="box">
      <form class="comment-form">
        <div class="field">
          <textarea class="textarea" name="comment-body"></textarea>
        </div>

        <div>
          <button class="button is-primary is-outlined" type="submit">Add comment</button>
        </div>
      </form>

      <div class="mt-4">
        {{> comments post.comments}}
      </div>

<!--Scripts-->
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>